/* This is where styles are defined for your page. */
/* One style is provided as example. */

body {
    background-attachment: fixed;
    background-image: url("./images/hard-paper-texture.jpg");
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: darkolivegreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    text-align: center;
}

h2 {
    font-size: 20px;
    font-style: normal;
}

img {
    display: block;
    margin: auto;
    width: 400px
}

p { 
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-header {
    text-align: center;
}

.poem, .more-info {
    background-color: lightgrey;
    border: 25px solid black;
    font-size: 20px;
    line-height: 120%;
    margin: 35px auto;
    padding: 25px;
    text-align: center;
    width: 600px;
}

.more-info {
    font-size: 15px;
}

